@charset "utf-8";
/*Tornar o site responsivo*/
:root{
    --var01: #a896b5;
    --var02: #2a1e22;
    --var03: #523132;
    --var04: #714e48;
    --var05: #63638e;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(img/ark2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    min-height: 100vh;
    margin:  auto;
    background-color: #63638e9c;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
}
div.login-container{
    color: black;
    width: 100%;
    margin: auto;
    position: relative;
    top: 300px;
    width: 350px;
    height: 400px;
    background-color: #63638e9c;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.342) ;
    border-radius: 10px;

    
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 20px;
}
.register{
   display: flex;
   margin: auto;
   padding-bottom: 200px;

}
h2{
    text-align: center;
    padding-top: 30px;
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
 }

input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}
label{
    margin:  5px 10px;
    text-align: left;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

}
button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
button:hover{
    background-color: var(--var01);
    transform: scale(1.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}
.entrar{
    margin-top: 20px;
    font-weight: 600;
    font-size: 90%;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
}
.cadastrar{
    margin-top: 40px;
    font-weight: 600;
    font-size: 90%;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.103);
}
